{% extends 'base.html.twig' %}

{% block title %}Pagina inicial{% endblock %}

{% block body %}
    {% include '/home/components/header.html.twig' %}
    {% include '/home/components/media_gallery.html.twig' %}
    {#    {% include '/home/components/video_galery.html.twig' %}
    #}    {% include '/home/components/trust_us.html.twig' %}
    {% include '/home/components/our_services.html.twig' %}
    {# <div class="flex justify-center items-center bg-gray-100">
{% include '/home/components/photo_galery.html.twig' %}
</div> #}}
    {% include '/home/components/contact_us.html.twig' %}
{% endblock %}
