{% extends 'admin/layout.html.twig' %}

{% block title %}Editar Projeto | DuoFilms{% endblock %}
{% block page_title %}Editar Projeto: {{ project.name }}{% endblock %}

{% block content %}
    <div class="bg-gray-800 rounded-lg shadow-lg p-6">
        {{ include('admin/project/_form.html.twig', {'button_label': 'Atualizar'}) }}

        <div class="flex justify-between items-center mt-8">
            <a href="{{ path('app_project_index') }}" class="text-blue-400 hover:text-blue-300 flex items-center">
                <i class="fas fa-arrow-left mr-2"></i>
                <span>Voltar à lista</span>
            </a>

            {{ include('admin/project/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}