<section class="bg-[#121212] text-white mb-6 ">
    <div class="max-w-screen-xl mx-auto text-center">
        <!-- Titre -->
        <h2 class="text-3xl font-bold mb-8">Eles confiam em nós</h2>
        <!-- Ligne de logos -->
        <div class="flex flex-wrap justify-center items-center space-x-4 space-y-4">
            <!-- Logo 1 -->
            <div class="flex justify-center items-center w-36 h-24  rounded-md shadow-md">
                <img src="{{ asset('images/trust/ende.png') }}" alt="Logo ENDE" class="h-auto object-contain">
            </div>
            <!-- Logo 2 -->
            <div class="flex justify-center items-center w-36 h-24 rounded-md shadow-md">
                <img src="{{ asset('images/trust/wami.png') }}" alt="Logo BAI" class="h-auto object-contain">
            </div>
            <!-- Logo 3 -->
            <div class="flex justify-center items-center w-36 h-24  rounded-md shadow-md">
                <img src="{{ asset('images/trust/global_service.png') }}" alt="Logo AGT" class="h-auto object-contain">
            </div>
            <!-- Logo 4 -->
            <div class="flex justify-center items-center w-36 h-24 rounded-md shadow-md">
                <img src="{{ asset('images/trust/fozmolas.png') }}" alt="Logo WAMI" class="h-auto object-contain">
            </div>
        </div>
    </div>
</section>
