<section class="bg-[#121212] text-white mb-0 md:mb-6 lg:mb-6">
    <div class="max-w-screen-xl mx-auto text-center">
        <!-- Titre -->
        <h2 class="text-3xl font-bold mb-8">Eles confiam em nós</h2>
        <!-- Grille de logos -->
        <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
            <!-- Logo 1 -->
            <div class="flex justify-center items-center shadow-md p-4">
                <img src="{{ asset('images/trust/ende.png') }}" alt="Logo ENDE" class="h-20 object-contain">
            </div>
            <!-- Logo 2 -->
            <div class="flex justify-center items-center shadow-md p-4">
                <img src="{{ asset('images/trust/wami.png') }}" alt="Logo WAMI" class="h-20 object-contain">
            </div>
            <!-- Logo 3 -->
            <div class="flex justify-center items-center shadow-md p-4">
                <img src="{{ asset('images/trust/global_service.png') }}" alt="Logo Global Service" class="h-20 object-contain">
            </div>
            <!-- Logo 4 -->
            <div class="flex justify-center items-center shadow-md p-4">
                <img src="{{ asset('images/trust/fozmolas.png') }}" alt="Logo Foz Molas" class="h-20 object-contain">
            </div>
        </div>
    </div>
</section>
